body {
	margin: 0;
	padding: 0;
	width: 100%;
	background: url("/static/img/light.png");
	background-color: #EEE;
	color: #111;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 16px;
    text-shadow: #FFF 1px 1px;
}

#topmenu {
	width: 100%;
	background-color: #111;
	border-bottom: 1px solid #555;
	padding: 8px 0 8px 0;
	margin-bottom: 25px;

    -moz-box-shadow: 0 2px 5px -2px #888;
    -webkit-box-shadow: 0 2px 5px -2px #888;
    box-shadow: 0 2px 5px -2px #888;
}

#content {
	width: 960px;
	margin: 0 auto 0 auto;
}

.box {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 280px;
	padding: 10px;
	background-color: #EEE;
    -moz-box-shadow: 0 2px 5px -2px #888;
    -webkit-box-shadow: 0 2px 5px -2px #888;
    box-shadow: 0 2px 5px -2px #888;
}

.box .column {
	float: left;
}

.box .watermark {
	font-size: 84px;
	color: #AAA;
	width: 45px;
}

.box .content {
	width: 235px;
}

.box h1 {
	margin-top: 0;
	font-size: 22px;
}

ul {
	display: inline-block;
}

ul li {
}
